@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?mqpvkr');
    src:    url('../fonts/icomoon.eot?mqpvkr#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?mqpvkr') format('truetype'),
        url('../fonts/icomoon.woff?mqpvkr') format('woff'),
        url('../fonts/icomoon.svg?mqpvkr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-files:before {
  content: "\e902";
}
.icon-file-settings:before {
  content: "\e903";
}
.icon-file-add:before {
  content: "\e904";
}
.icon-file:before {
  content: "\e905";
}
.icon-align-left:before {
  content: "\e906";
}
.icon-align-center:before {
  content: "\e907";
}
.icon-align-justify:before {
  content: "\e908";
}
.icon-browser:before {
  content: "\e909";
}
.icon-windows:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-refresh:before {
  content: "\e90c";
}
.icon-book:before {
  content: "\e90d";
}
.icon-checkmark:before {
  content: "\e90e";
}
.icon-checkbox-checked:before {
  content: "\e90f";
}
.icon-checkbox:before {
  content: "\e910";
}
.icon-paperclip:before {
  content: "\e911";
}
.icon-tag:before {
  content: "\e912";
}
.icon-trashcan:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-zoomin:before {
  content: "\e915";
}
.icon-zoomout:before {
  content: "\e916";
}
.icon-chat:before {
  content: "\e917";
}
.icon-chat-1:before {
  content: "\e918";
}
.icon-chat-2:before {
  content: "\e919";
}
.icon-chat-3:before {
  content: "\e91a";
}
.icon-comment:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-bookmark:before {
  content: "\e91d";
}
.icon-star:before {
  content: "\e91e";
}
.icon-forbidden:before {
  content: "\e91f";
}
.icon-lock:before {
  content: "\e920";
}
.icon-unlocked:before {
  content: "\e921";
}
.icon-users:before {
  content: "\e922";
}
.icon-calculator:before {
  content: "\e923";
}
.icon-mapmarker:before {
  content: "\e924";
}
.icon-map:before {
  content: "\e925";
}
.icon-mail-envelope-closed:before {
  content: "\e926";
}
.icon-mail-envelope-open:before {
  content: "\e927";
}
.icon-mail-error:before {
  content: "\e928";
}
.icon-mail-checked:before {
  content: "\e929";
}
.icon-mail-cancel:before {
  content: "\e92a";
}
.icon-mail--forbidden:before {
  content: "\e92b";
}
.icon-mail-add:before {
  content: "\e92c";
}
.icon-mail-remove:before {
  content: "\e92d";
}
.icon-checkmark2:before {
  content: "\e92e";
}
.icon-checkmark22:before {
  content: "\e92f";
}
.icon-cancel:before {
  content: "\e930";
}
.icon-cancel2:before {
  content: "\e931";
}
.icon-plus:before {
  content: "\e932";
}
.icon-plus2:before {
  content: "\e933";
}
.icon-minus:before {
  content: "\e934";
}
.icon-minus2:before {
  content: "\e935";
}
.icon-notice:before {
  content: "\e936";
}
.icon-notice2:before {
  content: "\e937";
}
.icon-cog:before {
  content: "\e938";
}
.icon-suitcase:before {
  content: "\e939";
}
.icon-chronometer:before {
  content: "\e93a";
}
.icon-alarmclock:before {
  content: "\e93b";
}
.icon-time:before {
  content: "\e93c";
}
.icon-eye:before {
  content: "\e93d";
}
.icon-lab:before {
  content: "\e93e";
}
.icon-key:before {
  content: "\e93f";
}
.icon-locked:before {
  content: "\e940";
}
.icon-unlocked2:before {
  content: "\e941";
}
.icon-archive:before {
  content: "\e942";
}
.icon-box:before {
  content: "\e943";
}
.icon-box2:before {
  content: "\e944";
}
.icon-pen:before {
  content: "\e945";
}
.icon-chat2:before {
  content: "\e946";
}
.icon-volume:before {
  content: "\e947";
}
.icon-volume2:before {
  content: "\e948";
}
.icon-equalizer:before {
  content: "\e949";
}
.icon-download:before {
  content: "\e94a";
}
.icon-calculator2:before {
  content: "\e94b";
}
.icon-library:before {
  content: "\e94c";
}
.icon-auction:before {
  content: "\e94d";
}
.icon-justice:before {
  content: "\e94e";
}
.icon-stats:before {
  content: "\e94f";
}
.icon-stats2:before {
  content: "\e950";
}
.icon-attachment:before {
  content: "\e951";
}
.icon-hourglass:before {
  content: "\e952";
}
.icon-pin:before {
  content: "\e953";
}
.icon-profile:before {
  content: "\e954";
}
.icon-rotate:before {
  content: "\e955";
}
.icon-rotate2:before {
  content: "\e956";
}
.icon-reply:before {
  content: "\e957";
}
.icon-forward:before {
  content: "\e958";
}
.icon-loop:before {
  content: "\e959";
}
.icon-pig:before {
  content: "\e95a";
}
.icon-bookmark2:before {
  content: "\e95b";
}
.icon-envelope2:before {
  content: "\e95c";
}
.icon-envelope22:before {
  content: "\e95d";
}
.icon-info:before {
  content: "\e95e";
}
.icon-truck:before {
  content: "\e95f";
}
.icon-bus:before {
  content: "\e960";
}
.icon-book2:before {
  content: "\e961";
}
.icon-tags:before {
  content: "\e962";
}
.icon-suitcase2:before {
  content: "\e963";
}
.icon-wallet:before {
  content: "\e964";
}
.icon-checkmark3:before {
  content: "\e965";
}
.icon-cancel3:before {
  content: "\e966";
}
.icon-sitemap:before {
  content: "\e967";
}
.icon-sitemap2:before {
  content: "\e968";
}
.icon-chart:before {
  content: "\e969";
}
.icon-chart2:before {
  content: "\e96a";
}
.icon-chart3:before {
  content: "\e96b";
}
.icon-chart4:before {
  content: "\e96c";
}
.icon-chart5:before {
  content: "\e96d";
}
.icon-chart6:before {
  content: "\e96e";
}
.icon-location:before {
  content: "\e96f";
}
.icon-phone:before {
  content: "\e970";
}
.icon-trashcan2:before {
  content: "\e971";
}
.icon-magnifier:before {
  content: "\e972";
}
.icon-cube:before {
  content: "\e973";
}
.icon-stretch:before {
  content: "\e974";
}
.icon-narrow:before {
  content: "\e975";
}
.icon-abacus:before {
  content: "\e976";
}
.icon-pencil:before {
  content: "\e977";
}
.icon-pen2:before {
  content: "\e978";
}
.icon-pin2:before {
  content: "\e979";
}
.icon-profile2:before {
  content: "\e97a";
}
.icon-profile3:before {
  content: "\e97b";
}
.icon-bookmark22:before {
  content: "\e97c";
}
.icon-addressbook:before {
  content: "\e97d";
}
.icon-book22:before {
  content: "\e97e";
}
.icon-barcode:before {
  content: "\e97f";
}
.icon-barcode2:before {
  content: "\e980";
}
.icon-popout:before {
  content: "\e981";
}
.icon-popin:before {
  content: "\e982";
}
.icon-checked:before {
  content: "\e983";
}
.icon-error:before {
  content: "\e984";
}
.icon-add:before {
  content: "\e985";
}
.icon-minus3:before {
  content: "\e986";
}
.icon-alert:before {
  content: "\e987";
}
.icon-clipboard:before {
  content: "\e988";
}
.icon-clipboard2:before {
  content: "\e989";
}
.icon-clipboard3:before {
  content: "\e98a";
}
.icon-switch:before {
  content: "\e98b";
}
.icon-flag:before {
  content: "\e98c";
}
.icon-flag2:before {
  content: "\e98d";
}
.icon-flag3:before {
  content: "\e98e";
}
.icon-flag4:before {
  content: "\e98f";
}
.icon-eye-hidden:before {
  content: "\e990";
}
.icon-eye-hidden2:before {
  content: "\e991";
}
.icon-eye2:before {
  content: "\e992";
}
.icon-eye3:before {
  content: "\e993";
}
.icon-star2:before {
  content: "\e994";
}
.icon-star22:before {
  content: "\e995";
}
.icon-key2:before {
  content: "\e996";
}
.icon-key3:before {
  content: "\e997";
}
.icon-key4:before {
  content: "\e998";
}
.icon-key5:before {
  content: "\e999";
}
.icon-information:before {
  content: "\e99a";
}
.icon-information2:before {
  content: "\e99b";
}
.icon-information3:before {
  content: "\e99c";
}
.icon-information4:before {
  content: "\e99d";
}
.icon-search-plus:before {
  content: "\e99e";
}
.icon-search-plus2:before {
  content: "\e99f";
}
.icon-search-minus:before {
  content: "\e9a0";
}
.icon-search-minus2:before {
  content: "\e9a1";
}
.icon-lock2:before {
  content: "\e9a2";
}
.icon-lock-open:before {
  content: "\e9a3";
}
.icon-lock-open2:before {
  content: "\e9a4";
}
.icon-lock-open3:before {
  content: "\e9a5";
}
.icon-lock-open4:before {
  content: "\e9a6";
}
.icon-printer-text:before {
  content: "\e9a7";
}
.icon-printer-text2:before {
  content: "\e9a8";
}
.icon-document-certificate:before {
  content: "\e9a9";
}
.icon-document-certificate2:before {
  content: "\e9aa";
}
.icon-certificate:before {
  content: "\e9ab";
}
.icon-certificate2:before {
  content: "\e9ac";
}
.icon-stop-watch:before {
  content: "\e9ad";
}
.icon-stop-watch2:before {
  content: "\e9ae";
}
.icon-office:before {
  content: "\e9af";
}
.icon-newspaper:before {
  content: "\e9b0";
}
.icon-award:before {
  content: "\e9b1";
}
.icon-award2:before {
  content: "\e9b2";
}
.icon-document-file-pdf:before {
  content: "\e9b3";
}
.icon-document-file-pdf2:before {
  content: "\e9b4";
}
.icon-document-file-doc:before {
  content: "\e9b5";
}
.icon-document-file-doc2:before {
  content: "\e9b6";
}
.icon-document-file-odt:before {
  content: "\e9b7";
}
.icon-document-file-odt2:before {
  content: "\e9b8";
}
.icon-document-file-xls:before {
  content: "\e9b9";
}
.icon-document-file-xls2:before {
  content: "\e9ba";
}
.icon-document-file-docx:before {
  content: "\e9bb";
}
.icon-document-file-docx2:before {
  content: "\e9bc";
}
.icon-document-file-xlsx:before {
  content: "\e9bd";
}
.icon-document-file-xlsx2:before {
  content: "\e9be";
}
.icon-document-file-txt:before {
  content: "\e9bf";
}
.icon-document-file-txt2:before {
  content: "\e9c0";
}
.icon-document-file-rtf:before {
  content: "\e9c1";
}
.icon-document-file-rtf2:before {
  content: "\e9c2";
}
.icon-document-file-zip:before {
  content: "\e9c3";
}
.icon-document-file-zip2:before {
  content: "\e9c4";
}
.icon-user-plus:before {
  content: "\e9c5";
}
.icon-user-minus:before {
  content: "\e9c6";
}
.icon-user-check:before {
  content: "\e9c7";
}
.icon-user-tie:before {
  content: "\e9c8";
}
.icon-key6:before {
  content: "\e9c9";
}
.icon-key22:before {
  content: "\e9ca";
}
.icon-cogs:before {
  content: "\e9cb";
}
.icon-bin:before {
  content: "\e9cc";
}
.icon-bin2:before {
  content: "\e9cd";
}
.icon-clipboard4:before {
  content: "\e9ce";
}
.icon-list-numbered:before {
  content: "\e9cf";
}
.icon-list:before {
  content: "\e9d0";
}
.icon-list2:before {
  content: "\e9d1";
}
.icon-tree:before {
  content: "\e9d2";
}
.icon-bookmark3:before {
  content: "\e9d3";
}
.icon-bookmarks:before {
  content: "\e9d4";
}
.icon-warning:before {
  content: "\e9d5";
}
.icon-notification:before {
  content: "\e9d6";
}
.icon-question:before {
  content: "\e9d7";
}
.icon-info2:before {
  content: "\e9d8";
}
.icon-cancel-circle:before {
  content: "\e9d9";
}
.icon-blocked:before {
  content: "\e9da";
}
.icon-cross:before {
  content: "\e9db";
}
.icon-checkmark4:before {
  content: "\e9dc";
}
.icon-checkmark222:before {
  content: "\e9dd";
}
.icon-enter:before {
  content: "\e9de";
}
.icon-exit:before {
  content: "\e9df";
}
.icon-circle-up:before {
  content: "\e9e0";
}
.icon-circle-right:before {
  content: "\e9e1";
}
.icon-circle-down:before {
  content: "\e9e2";
}
.icon-circle-left:before {
  content: "\e9e3";
}
.icon-sort-amount-asc:before {
  content: "\e9e4";
}
.icon-sort-amount-desc:before {
  content: "\e9e5";
}
.icon-filter:before {
  content: "\e9e6";
}
.icon-comment2:before {
  content: "\f02b";
}
.icon-check:before {
  content: "\f03a";
}
.icon-arrow-right:before {
  content: "\f03e";
}
.icon-arrow-down:before {
  content: "\f03f";
}
.icon-arrow-left:before {
  content: "\f040";
}
.icon-code:before {
  content: "\f05f";
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-left:before {
  content: "\f0a4";
}

